@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
h1{
  font-variant: small-caps;
}

main {
    width: 350px;
    margin: 0 auto;
}
article {

    width: 300px;
    margin: 25px;
    margin-top: 100px;
    box-sizing: border-box;
    /*clear: both;*/
    position: relative;
}

article section {
    border: 2px solid #AABBFF;
    padding: 20px;
    border-bottom: none;
}

article img {
    width: 100%;
}

section:hover .shirtback {
    z-index: 0;
}

.shirtback {
    width: 260px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

article ul {
    padding: 0;
    margin: 0;
}

article li {
    list-style: none;
    display: block;
    float: left;
    width: 20%;
    border: 2px solid #aabbff;
    border-left: none;
    box-sizing: border-box;
    position: relative;
    height: 50px;
    color: #aabbff;
    text-align: center;
    font-size: 12px;
    padding-top: 13px;
}

article li:hover .submenu{
    opacity: 1;
    bottom: 60px;
}


article li:first-child {
    border-left: 2px solid #aabbff;
}

.submenu {
    border:2px solid #aabbff;
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.3s linear;
    width: 100%;
}
.submenu::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid #aabbff;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    left: 20px;
    border-left: none;
    border-top: none;
}


.submenu li {
    border: none;
}

/*SCREEN SIZES*/

/* SMALL SCREENS */
/*@media screen and (max-width: 300px) {
    p {
        float: left;
    }

    article {
      width: 300px;
      position: relative;
    }
}*/

/* MEDIUM SCREEN */
@media screen and (min-width: 700px) {
    article {
        float: left;
    }
    main {
      width: 700px;
    }
}

/* LARGE SCREEN */
@media screen and (min-width: 900px) {
    main {
      width: 1050px;
    }
