

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');


/*ALIGNMENT START*/
body {
  text-align: center;
  padding-top: 150px;

}

.inline {
  display:inline-block;
}

/*fieldset .blue .yellow .pink {
  display:inline-block;
  max-width: 100;
  postion: abosolute;

}*/

nav{

}

nav ul li{
  display: inline-block;
  float: bottom;

}
/*ALIGNMENT END*/

/*Z INDEX PICTURES START */


body .blue img{
  border: 1px solid #0000ff;
  box-sizing: border-box;
  width: 33%;
  display: inline-block;
  position: right;
}

.front {
    width:90%;
    z-index: 1;
}
.back {
    width:90%;
    z-index: 2;
}
body > main:hover .back {
    z-index: 0;
}

ul li {
  border-color: #0000ff;
}

/*PINK*/

body .pink img {

    border: 1px solid #0000ff;
    position: absolute;
    box-sizing: border-box;
    width: 33%;
    display: inline-block;
    position: center;
}



/*YELLOW*/

.yellow img {

    position: absolute;
}

/*Z INDEX PICTURES END*/
