

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');


/*ALIGNMENT START*/
body {
  text-align: center;
  padding-top: 150px;

}

.inline {
  display:inline-block;
}

/*fieldset .blue .yellow .pink {
  display:inline-block;
  max-width: 100;
  postion: abosolute;

}*/

nav{

}

nav ul li{
  display: inline-block;
  float: bottom;

}
/*ALIGNMENT END*/

/*Z INDEX PICTURES START */


fieldset img .blue {

    position: absolute;

}

.front {
    z-index: 1;
}
.back {
    z-index: 2;
}
body > main:hover .back {
    z-index: 0;
}

ul li {
  border-color: #0000ff;
}

/*PINK*/

.pink img {

    position: absolute;;
}



/*YELLOW*/

.yellow img {

    position: absolute;;
}

/*Z INDEX PICTURES END*/

h
