/*ALIGNMENT START*/
body {
  text-align: center;
  padding-top: 150px;
}

fieldset {
  display: inline-block;
  width: 25%;
}

nav ul li{
  display: inline-block;
}
/*ALIGNMENT END*/

/*Z INDEX PICTURES START */


section .blue {
  position: absolute;
}

.front {
  z-index: 1;
}

.back {
  z-index: 2;
}

/*Z INDEX PICTURES END*/
