

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');


/*ALIGNMENT START*/
body {
  text-align: center;
  padding-top: 150px;

}

.inline {
  display:inline-block;
}

nav{

}

nav ul li{
  display: inline-block;
  float: bottom;
  border: 1px solid #0000ff;
}
/*ALIGNMENT END*/

/*Z INDEX PICTURES START */

.front {
    /*width:90%;*/
    z-index: 1;
}

.back {
    /*width:90%;*/
    z-index: 2;
}

/*Shirt Styles*/
.shirt {
  height: 250px;
  width: 33%;
  float: left;
  /*display:inline-block;*/
  /*max-width: 100%;*/
  /*postion: abosolute;*/

}

.shirt:hover .back {
    z-index: 0;
}

.shirt img {
    border: 1px solid #0000ff;
    box-sizing: border-box;

    display: block;
    position: absolute;
}

/*Z INDEX PICTURES END*/
